<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
	<connectionStrings>
		<add name="mongodb-log4net" connectionString="mongodb://localhost" />
	</connectionStrings>
  <log4net>
    <appender name='MongoDBAppender' type='MongoAppender.MongoDBAppender, Log4Net-MongoAppender'>
      <connectionStringName value="mongodb-log4net" />
      <collectionName value="logs" />
      <field>
        <name value="timestamp" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </field>
      <field>
        <name value="level" />
        <layout type="log4net.Layout.PatternLayout" >
          <conversionPattern value="%p" />
        </layout>
      </field>
      <field>
        <name value="thread" />
        <layout type="log4net.Layout.PatternLayout" >
          <conversionPattern value="%t" />
        </layout>
      </field>
      <field>
        <name value="logger" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c" />
        </layout>
      </field>
      <field>
        <name value="message" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </field>
      <field>
        <name value="exception" />
        <layout type="log4net.Layout.ExceptionLayout">
          <conversionPattern value="%ex{full}" />
        </layout>
      </field>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref='MongoDBAppender' />
    </root>
  </log4net>
</configuration>